* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

html {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body::before {
    display: block;
    content: "";
    height: 30px;
}

.custom-text-color {
    color: #2b7ffe;
}

.device-size-display {
    position: fixed;
    top: 80px;
    right: 10px;
    background-color: rgba(170, 245, 84, 0.694);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    z-index: 100;
}

@media (max-width: 576px) {
    #device-size::before {
        content: '< XS';
    }

    .box {
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        background-color: yellowgreen;
    }

    .box-img {
        width: 100%;
        height: 80%;
    }

    .box-name h6 {
        font-size: 8px;
    }

    .box-two {
        height: 8rem;
        width: 8rem;
    }

    .box-two .img {
        height: 80%;
        width: 100%;
        overflow: hidden;
    }

    .box-two .img img {
        width: 100%;
        height: 100%;
    }

    .box-two .name {
        height: 10%;
        width: 100%;
        text-align: center;
    }

    .name h5 {
        font-size: 12px;
    }

    .offer h6 {
        font-size: 10px;
        margin-top: 3px;
    }

    .box-two .offer {
        height: 10%;
        width: 100%;
        text-align: center;
        color: #008000;
    }

    .box-two .offer h6{
        font-size: 8px;
    }

    .scroll-arrow {
        font-size: 14px;
    }

    /*Big box*/

    .box-three {
        display: flex;
        flex-wrap: wrap;
    }

    .smbox {
        width: 50%;
        height: 20vh;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
        border: 1px solid rgb(229, 229, 229);
    }

    .smbox img {
        width: 100%;
        height: 70%;
        object-fit: contain;
    }

    .smbox h6{
        font-size: 10px;
    }

    .smbox p{
        font-size: 8px;
    }

}

@media (min-width: 576px) and (max-width: 767px) {
    #device-size::before {
        content: 'XS / SM';
    }

    .box {
        width: 80px;
        height: 80px;
        display: flex;
        flex-direction: column;
        background-color: yellowgreen;
    }

    .box-img {
        width: 100%;
        height: 80%;
    }

    .box-name h6 {
        font-size: 12px;
    }

    .box-two {
        height: 8rem;
        width: 8rem;
    }

    .box-two .img {
        height: 80%;
        width: 100%;
        overflow: hidden;
    }

    .box-two .img img {
        width: 100%;
        height: 100%;
    }

    .box-two .name {
        height: 10%;
        width: 100%;
        text-align: center;
    }

    .name h5 {
        font-size: 12px;
    }

    .offer h6 {
        font-size: 10px;
        margin-top: 3px;
    }

    .box-two .offer {
        height: 10%;
        width: 100%;
        text-align: center;
        color: #008000;
    }

    .box-two .offer h6{
        font-size: 10px;
    }

    .scroll-arrow {
        font-size: 16px;
    }

    /*Big box*/

    .box-three {
        display: flex;
        flex-wrap: wrap;
    }

    .smbox {
        width: 50%;
        height: 20vh;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
        border: 1px solid rgb(229, 229, 229);
    }

    .smbox img {
        width: 100%;
        height: 70%;
        object-fit: contain;
    }

    .smbox h6{
        font-size: 12px;
    }

    .smbox p{
        font-size: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #device-size::before {
        content: 'MD';
    }

    .box {
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column;
        background-color: yellowgreen;
    }

    .box-img {
        width: 100%;
        height: 80%;
    }

    .box-two {
        height: 12rem;
        width: 10rem;
    }

    .box-two .img {
        height: 80%;
        width: 100%;
        overflow: hidden;
    }

    .box-two .img img {
        width: 100%;
        height: 100%;
    }

    .box-two .name {
        height: 10%;
        width: 100%;
        text-align: center;
    }

    .name h5 {
        font-size: 16px;
    }

    .box-two .offer {
        height: 10%;
        width: 100%;
        text-align: center;
        color: #008000;
    }

    .box-two .offer h6{
        font-size: 12px;
    }

    .scroll-arrow {
        font-size: 18px;
    }

    /*Big box*/

    .box-three {
        display: flex;
        flex-wrap: wrap;
    }

    .smbox {
        width: 50%;
        height: 20vh;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
        border: 1px solid rgb(229, 229, 229);
    }

    .smbox img {
        width: 100%;
        height: 70%;
        object-fit: contain;
    }

    .smbox h6{
        font-size: 13px;
    }

    .smbox p{
        font-size: 11px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #device-size::before {
        content: 'LG';
    }

    .box {
        width: 120px;
        height: 120px;
        display: flex;
        flex-direction: column;
        background-color: yellowgreen;
    }

    .box-img {
        width: 100%;
        height: 80%;
    }

    .box-two {
        height: 14rem;
        width: 12rem;
    }

    .box-two .img {
        height: 80%;
        width: 100%;
        overflow: hidden;
    }

    .box-two .img img {
        width: 100%;
        height: 100%;
    }

    .box-two .name {
        height: 10%;
        width: 100%;
        text-align: center;
    }

    .name h5 {
        font-size: 16px;
    }

    .box-two .offer {
        height: 10%;
        width: 100%;
        text-align: center;
        color: #008000;
    }

    .box-two .offer h6{
        font-size: 14px;
    }

    .scroll-arrow {
        font-size: 22px;
    }

    /*Big box*/

    .box-three {
        display: flex;
        flex-wrap: wrap;
    }

    .smbox {
        width: 50%;
        height: 25vh;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
        border: 1px solid rgb(229, 229, 229);
    }

    .smbox img {
        width: 100%;
        height: 70%;
        object-fit: contain;
    }

    .smbox p{
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    #device-size::before {
        content: 'XL';
    }

    .box {
        width: 120px;
        height: 120px;
        display: flex;
        flex-direction: column;
        background-color: yellowgreen;
    }

    .box-img {
        width: 100%;
        height: 80%;
    }

    .box-two {
        height: 14rem;
        width: 12rem;
    }

    .box-two .img {
        height: 80%;
        width: 100%;
        overflow: hidden;
    }

    .box-two .img img {
        width: 100%;
        height: 100%;
    }

    .box-two .name {
        height: 10%;
        width: 100%;
        text-align: center;
    }

    .name h5 {
        font-size: 16px;
    }

    .box-two .offer {
        height: 10%;
        width: 100%;
        text-align: center;
        color: #008000;
    }

    .box-two .offer h6{
        font-size: 14px;
    }

    .scroll-arrow {
        font-size: 24px;
    }

    .carousel-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    /*Big box*/

    .box-three {
        display: flex;
        flex-wrap: wrap;
    }

    .smbox {
        width: 50%;
        height: 25vh;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
        border: 1px solid rgb(229, 229, 229);
    }

    .smbox img {
        width: 100%;
        height: 70%;
        object-fit: contain;
    }

    .smbox p{
        font-size: 15px;
    }
}

/*Mavbar*/

.cutom-bg-color {
    background-color: #2874f0;
}

/*Sction-one*/
/*Section two scrolling arrow*/
.scroll-container {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.scroll-arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(236, 234, 234);
    padding: 10px;
    z-index: 1;
}

.scroll-arrow.left {
    left: 0;
}

.scroll-arrow.right {
    right: 0;
}

/*Section two scrolling arrow*/

/*Banner box*/
.banner-box {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.7) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-content:hover{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.banner-content h1 {
    font-size: 2rem;
}

.banner-content p {
    font-size: 1rem;
}

.banner-content button {
    margin-top: 10px;
}

/*Footer*/
.footer-section h6 {
    font-size: 13px;
    margin-bottom: 10px;
    color: #c7c7c7;
}

.footer-section p {
    margin-bottom: 1px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

.pspan{
    color: #c4c4c4;
}

/*Footer-two*/
.footer-two-h6{
    font-size: 12px;
}

